@model InventorySystem.Core.Models.Invoice
@{
    Layout = "_Layout";
}
<h2>Sale Details</h2>

<p><strong>Customer:</strong> @Model.Customer?.Name</p>
<p><strong>Date:</strong> @Model.Date.ToString("yyyy-MM-dd")</p>
<p><strong>Total:</strong> @Model.TotalAmount.ToString("N2")</p>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Product</th>
            <th>Qty</th>
            <th>Rate</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {
            <tr>
                <td>@item.Product?.Name</td>
                <td>@item.Quantity</td>
                <td>@item.Rate</td>
                <td>@(item.Quantity* item.Rate)</td>
            </tr>
        }
    </tbody>
</table>
